.addproperty {
	margin-bottom: 24px;
	&_block {
		padding-top: 37px;
	}
	&_title {
		padding-left: 72px;
		font-weight: bold;
		font-size: 28px;
		margin: 0;
	}
	&_text {
		padding-left: 61px;
		color: #979DA5;
	}
	&_subtitle {
		overflow: hidden;
		padding-left: 40px;
	}
}

.cadastral {
	padding-left: 72px;
	&_icon {
		padding-left: 20px;
		margin-right: 60px;
	}
	&_num {
		width: 558px;
		padding: 10px 0 8px 15px;
		border: 1px solid #DCDCE7;
	}
	&_subtitle {
		margin-left: 399px;
    	width: 274px;
    	text-align: center;
    	color: #DCDCE7;
	}

	&_subtitle:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 3px;
		background: #DCDCE7;
		border: solid #FFF;
		border-width: 0 10px;
		margin-left: -100%;
	}

	&_subtitle:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 3px;
		background: #DCDCE7;
		border: solid #FFF;
		border-width: 0 10px;
		margin-right: -100%;
	}

	&_address {
		padding-right: 208px;
	}

	&_search {
		margin-left: 258px;
		& a {
			color: #FF6F00;
		}
	}

	&_button {
		padding: 11px 17px 11px 12px;
		background: #FF6F00;
		border: none;
		color: #fff;
		margin-left: 259px;
		& img {
			display: inline-block;
    		margin: -6px auto;
		}
	}
}
.premises_radio {
	padding-left: 72px;
	display: flex;
	align-items: center;

	&-text {
		margin-right: 138px;
	}
	&-button {
		display: flex;
		& div {
			& input {
				display: none;
			}
			& input:checked + label {
				color: #fff;
    			background: #FF6F00;
				box-shadow: inset 0px 2.00757px 1.00378px rgba(0, 0, 0, 0.07);
			}
			& label {
				color: #6E6E82;
				display: block;
				text-align: center;
    			padding: 7px 27px;
    			border: 1px solid #6E6E82;
    			cursor: pointer;
			}
		}
		& div:first-child label {
			margin-left: 0;
    		border-top-left-radius: 4px;
    		border-bottom-left-radius: 4px;
		}
		& div:last-child label {
			margin-left: 0;
    		border-top-right-radius: 4px;
    		border-bottom-right-radius: 4px;
		}
	}
}

.realestate_radio {
	padding-left: 72px;
	padding-top: 24px;
	display: flex;
	align-items: center;

	&-text {
		margin-right: 113px;
	}
	&-button {
		display: flex;
		& div {
			& input {
				display: none;
			}
			& input:checked + label {
				color: #fff;
    			background: #FF6F00;
				box-shadow: inset 0px 2.00757px 1.00378px rgba(0, 0, 0, 0.07);
			}
			& label {
				color: #6E6E82;
				display: block;
				text-align: center;
    			padding: 7px 27px;
    			border: 1px solid #6E6E82;
    			cursor: pointer;
			}
		}
		& div:first-child label {
			margin-left: 0;
    		border-top-left-radius: 4px;
    		border-bottom-left-radius: 4px;
		}
		& div:last-child label {
			margin-left: 0;
    		border-top-right-radius: 4px;
    		border-bottom-right-radius: 4px;
		}
	}
}

.options {
	padding-left: 72px;
	padding-bottom: 40px;
	&_title {
		display: flex;
		align-items: center;
		& p {
			padding: 0 120px 0 14px;
			font-weight: bold;
			font-size: 18.0681px;
			line-height: 24px;
		}
	}
	&_text {
		color: #979DA5;
		width: 100%;
		max-width: 950px;
	}
}